<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!-- <meta content="SAMEORIGIN"> -->

        <!-- google fonts? -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan">

        <!-- facebook share button -->
        <meta property="og:url"           content="https://localhost:5010/success" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="The No-Code NFT Launchpad for Brands and Creators" />
        <meta property="og:description"   content="Faktura provides brands with powerful tools to create, launch,
and manage their own custom NFTs." />
        <meta property="og:image"         content="https://ipfs.io/ipfs/QmPgMdJ3gEpmhw4xzvX9BaAwfXJSEkmD5RWtXXYBEReBzA/unrevealed.gif" />

        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <noscript>You need to enable JavaScript to run this app.</noscript>
        <div class="root"></div>
    </body>
</html>
